.Header h2 {
  font: 1.2em sans-serif;
  color: rgb(18, 2, 163);
  margin-bottom: 0;
}
.Header h3 {
  font: 1.5em sans-serif;
  display: flex 1;
  justify-content: center;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.4) 4px 4px;
  padding: 10px;
  background-color: aqua;
  color: rgb(36, 3, 255);
  margin-bottom: 0;
}
