.TodoItem {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.TodoItem .title {
  flex: 1;
}

.TodoItem .date {
  font-size: 9px;
  color: gray;
}

.TodoItem button {
  width: 40px;
  font-size: 10px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: cornflowerblue;
  color: aliceblue;
}
