.TodoEditor input {
  flex: 1;
  width: 74%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 10px;
}
.TodoEditor input:focus {
  outline: none;
  border: 2px solid green;
}
.TodoEditor button {
  width: 50px;
  padding: 9px;
  margin-left: 9px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgb(7, 88, 238);
  color: yellow;
}
